html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin: ORDERS
    //
       Bootstrap 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    
    style
     :css
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      .container{
      background-color:#eee;
      }
      #header {
      text-align:left;
      background-color:#333;
      cursor:pointer;
      }
      .order {
      border-bottom:1px solid #ddd;
      text-align:center;
      }
      .field {
      border-right:1px solid #ddd;
      }
      #legend{
      border-bottom:1px solid #ddd;
      background-color:white;
      }
      input{
      font-family:arial;
      letter-spacing:1px;
      font-size:1.5vw;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      h1 {
      font-size:4vw;
      font-family:attentica;
      display:inline;
      }
      .white {
      background-color:white;
      }
      .bb{
      border-bottom:1px solid gray;
      }
  body
    .container
      script.
        function away() {
         window.location='http://maleshin.com/';
        }
      #header.row(style='background-color:#333;',onclick='away()')
        .col-xs-12
          h1(style='color:#eee;') Maleshin 
            span(style='color:#c35') Admin : 
            span(style='color:#e18282') posts 
      #drop.row(style='border-bottom:1px solid #ddd;')
        form(method='post',action='/drop/posts',role='form' )
          .col-xs-4
            h5 Drop POSTS DB
          .col-xs-4
            input(type='text',style='margin:1vh;',name='p')
          .col-xs-4
            button(style='border:1px solid #c35;border-radius:4px;margin:1vh;',type='submit')
              h5(style='color:#c35;') Drop 
      #results.row
        .col-xs-12    
          each post, i in docs
            .row.order
              .col-xs-1(style='text-align:center;background-color:#c35;')
                h5(style='color:white') #{post.id}
              .col-xs-11.field
                h5 #{post.date.day}-#{post.date.month}-#{post.date.year}
            .row.order
              .col-xs-2.field.white
                h5 title
              .col-xs-10.field
                h5 #{post.title}
            .row.bb(style='text-align:center;')
              .col-xs-2.field.white
                h5 image    
              .col-xs-10.field
                h5 #{post.headimage}
              
              


        
