doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title ADMIN
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    |     
    style.
      html{
      min-width:768px;
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      h1 {
      font-family:attentica;
      font-size:20vw;
      color:#333;
      }
      h2 {
      color:black;
      font-family:roboto-thin;
      font-size:2vw;
      margin-top:1vh;
      margin-bottom:1vh;
      margin-right:1vw;
      margin-left:1vw;
      font-weight:bold;
      }
      h4 {
      font-weight:bold;
      font-family:br;
      font-size:4vw;
      }
      .container {
      margin:0px;
      padding:0px;
      width:100%;
      }
      .btn-default {
      background-color:white;
      }
      .btn:hover {
      background-color:white;
      opacity:0.5;
      }
      .btn-default:focus {
      background-color:white;
      }
      .btn-default:focus h2 {
      color:black;
      }
      .btn:hover h2 {
      color:black;
      }
      #menu {
      text-align:center;
      padding-top:5vh;
      padding-bottom:5vh;
      background-color:#eee;
      }
      #header {
      background-color:#eee;
      text-align:center;
      }
      .title {
      padding-left:6vw;
      }
      a:hover {
      outline:none;
      text-decoration:none;
      }
      .section {
      border-bottom:1px solid black;
      }
      .addsmth{
      padding-left:7vw;
      margin-bottom:1vh;
      }
      .col-xs-6 {
      margin:0px;
      padding:0px;
      }
      .stats {
      background-color:#ddd;
      padding-left:3vw;
      padding-right:3vw;
      padding-top:3vh;
      padding-bottom:3vh;
      height:100%;
      }
      .up {
      width:3vw;
      height:3vw;
      margin-top:2vh;
      margin-left:2vw;
      text-align:center;
      line-height:4vw;
      background-color:#ddd;
      border-radius:50%;
      z-index:2000;
      display:fixed;
      }
      .up h2 {
      display:inline;
      margin:0px;
      }  
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      input {
      margin:1vh;
      border:1px solid #ddd;
      }
      button {
      margin:1vh;
      }
      #addpost:hover{
      background-color:#ddd;
      }
      #removepost:hover{
      background-color:#ddd;
      }
  body
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/bootstrap/js/bootstrap.min.js')
    .container
      #header.row
        h1 &Rcy;&IEcy;&Dcy;&Acy;&Kcy;&Tcy;&Ocy;&Rcy;
      |      
      #menu.row
        .col-xs-12(style='padding:0px;')
          .btn-group
            button#countries.btn.btn-default(type='button', style='border-top-left-radius:0.5vw;border-bottom-left-radius:0.5vw;')
              a(href='#countriesblock')
                h2 &Scy;&Tcy;&Rcy;&Acy;&Ncy;&Ycy;
            |        
            button#routes.btn.btn-default(type='button')
              a(href='#routesblock')
                h2 &Mcy;&Acy;&Rcy;&SHcy;&Rcy;&Ucy;&Tcy;&Ycy;
            |        
            button#gall.btn.btn-default(type='button')
              a(href='#gallblock')
                h2 &Gcy;&Acy;&Lcy;&IEcy;&Rcy;&IEcy;&YAcy;
            |        
            button#blog.btn.btn-default(type='button')
              a(href='#blogblock')
                h2 &Bcy;&Lcy;&Ocy;&Gcy;
            |        
            button#books.btn.btn-default(type='button')
              a(href='#booksblock')
                h2 &Kcy;&Ncy;&Icy;&Gcy;&Icy;
            |        
            button#about.btn.btn-default(type='button')
              a(href='#aboutblock')
                h2 &Ocy; &Pcy;&Rcy;&Ocy;&IEcy;&Kcy;&Tcy;&IEcy;
            |        
            button#contacts.btn.btn-default(type='button', style='border-top-right-radius:0.5vw;border-bottom-right-radius:0.5vw;')
              a(href='#contactsblock')
                h2 &Kcy;&Ocy;&Ncy;&Tcy;&Acy;&Kcy;&Tcy;&Ycy;
      |      
      #countriesblock.row.section
        .col-xs-12
          .row.title
            .col-xs-12
              h4 &Scy;&Tcy;&Rcy;&Acy;&Ncy;&Ycy;
      |      
      #routesblock.row.section
        // 
        .col-xs-12
          .row.title
            .col-xs-12
              h4 &Mcy;&Acy;&Rcy;&SHcy;&Rcy;&Ucy;&Tcy;&Ycy;
          |        
          #addroute.row.addsmth
            .col-xs-1(style='background-color:#00ab6f;text-align:center;')
              h2(style='line height:5vh;color:white')
                span.glyphicon.glyphicon-plus
            |          
            .col-xs-11
              h2  &Dcy;&Ocy;&Bcy;&Acy;&Vcy;&Icy;&Tcy;&SOFTcy; &Mcy;&Acy;&Rcy;&SHcy;&Rcy;&Ucy;&Tcy;
          |        
          #removeroute.row.addsmth
            .col-xs-1(style='background-color:#c35;text-align:center;')
              h2(style='line height:5vh;color:white')
                span.glyphicon.glyphicon-minus
            |          
            .col-xs-11
              h2  &Rcy;&IEcy;&Dcy;&Acy;&Kcy;&Tcy;&Icy;&Rcy;&Ocy;&Vcy;&Acy;&Tcy;&SOFTcy; &Mcy;&Acy;&Rcy;&SHcy;&Rcy;&Ucy;&Tcy;&Ycy;
      #booksblock.row.section
        // 
        .col-xs-12
          .row.title
            .col-xs-12
              h4 &Mcy;&Acy;&Rcy;&SHcy;&Rcy;&Ucy;&Tcy;&Ycy;
          |        
          #addbook.row.addsmth
            .col-xs-1(style='background-color:#00ab6f;text-align:center;')
              h2(style='line height:5vh;color:white')
                span.glyphicon.glyphicon-plus
            |          
            .col-xs-11
              h2  Добавить книгу
          #addbookinput.row

      #blogblock.row.section
        .col-xs-6
          .row.title
            .col-xs-12
              h4 &Bcy;&Lcy;&Ocy;&Gcy;
          |        
          #addpost.row.addsmth
            .col-xs-1(style='background-color:#00ab6f;text-align:center;')
              h2(style='line height:5vh;color:white;margin:0px;')
                span.glyphicon.glyphicon-plus
            |          
            .col-xs-11
              h2  Добавить пост      
          #removepost.row.addsmth
            .col-xs-1(style='background-color:#c35;text-align:center;')
              h2(style='line height:5vh;color:white;margin:0px;')
                span.glyphicon.glyphicon-minus
            |          
            .col-xs-11
              h2  Удалить все посты
        |       
        .col-xs-6.stats
          .row
            .col-xs-12
              .row
                h2(style='color:#c35') &Scy;&Tcy;&Acy;&Tcy;&Icy;&Scy;&Tcy;&Icy;&Kcy;&Acy;
                |            
                h2  &Pcy;&Ocy;&Scy;&Tcy;&Ocy;&Vcy; : 10 
                |            
                h2  &Pcy;&Rcy;&Ocy;&Scy;&Mcy;&Ocy;&Scy;&Tcy;&Rcy;&Ocy;&Vcy; &Vcy;&Scy;&IEcy;&Gcy;&Ocy;: 12887 
                |            
                h2  &Pcy;&Rcy;&Ocy;&Scy;&Mcy;&Ocy;&Scy;&Tcy;&Rcy;&Ocy;&Vcy; &Pcy;&Ocy;&Scy;&Lcy;&IEcy;&Dcy;&Ncy;&IEcy;&Gcy;&Ocy; &Pcy;&Ocy;&Scy;&Tcy;&Acy;: 2000  
      #addpostblock.row(style='display:none;padding-right:1vw;padding-left:1vw;background-color:#eee;') 
        form(action='/actions',role='form',method='post', enctype='multipart/form-data')
         .col-xs-12
           .row(style='display:none;')
             .col-xs-12
               input#hiddeninput(type='text',name='actions',value='newpost')
           .row 
             .col-xs-3
               h2 Headimage
             .col-xs-3
               input#xml.form-control(type='file', name='headimage') 
           .row
             .col-xs-12
               textarea#gettitle.form-control
               button#gettitlebutton(type='button') GET TITLE   
           .row(style='display:none;')
             .col-xs-12
               input#invisibleinput(name='postbody',type='text')
           .row(style='display:none;')
             .col-xs-12
               input#vtitle(name='vtitle',type='text')
           .row
             #grab.col-xs-12 
           .row
             .col-xs-12
               textarea#getbody.form-control
               button#getbodybutton(type='button') GET BODY   
           .row
             .col-xs-12
               button(type='submit',style='border:1px solid white;border-radius:4px;background-color:#00ab6f;') 
                 h5(style='color:white;') Отправить  
      #dropdb.row(style='display:none;background-color:#eee;')
        form(action='/drop/posts',method='post',role='form')  
          .col-xs-3
            input(name='p',type='text')
          .col-xs-3
            button(style='border:1px solid white;border-radius:4px;background-color:#c35;',type='submit') 
              h5(style='color:white;') Удалить

        script.
          $('#removepost').click(function(){
           $('#dropdb').slideToggle();
           window.location='#dropdb';
          });
          $('#addpost').click(function(){
          $('#addpostblock').slideToggle();
          window.location='#addpostblock';
          });
          $('#getbodybutton').click(function(){
          var x=$('#hiddeninput').val();
          console.log("HIDDEN INPUT IS: "+x);
          var vbody = $('#getbody').val();
          console.log('we are in get body and body is:'+vbody);
          if(vbody)
          {if(!$('#invisibleinput').val())
          {
          $('#invisibleinput').val("<div class='row text'><div class='col-xs-12' style='padding:0px;'><h3>"+vbody+"</h3></div></div>");}
          else
          {
          var previoustext = $('#invisibleinput').val();
          var newtext = previoustext+"<div class='row text'><div class='col-xs-12' style='padding:0px;'><h3>"+vbody+"</h3></div></div>";
          $('#invisibleinput').val(newtext);
          console.log('NOT EMPTY , INSERTING: '+newtext);
          }
          $('#grab').append("<div class='row text'><div class='col-xs-12' style='padding:0px;'><h3>"+vbody+"</h3></div></div>");}
          else
          {}
          });
          $('#gettitlebutton').click(function(){
          var vtitle = $('#gettitle').val();
          if (vtitle)
          {if(!$('#invisibleinput').val())
          {
          $('#invisibleinput').val("<div class='row' id='title'><div class='col-xs-12' style='padding:0px;'><h1>"+vtitle+"</h1></div></div>");
          $('#vtitle').val(vtitle);
          }
          else
          {
          var previoustext = $('#invisibleinput').val();
          $('#vtitle').val(vtitle);
          var newtext = "<div class='row' id='title'><div class='col-xs-12' style='padding:0px;'><h1>"+vtitle+"</h1></div></div>"+previoustext;
          $('#invisibleinput').val(newtext);
          }
          $('#grab').append("<div class='row' id='title'><div class='col-xs-12' style='padding:0px;'><h1>"+vtitle+"</h1></div></div>");}
          else
          {}         
          });
     
      #gallblock.row.section
        .col-xs-6
          .row.title
            .col-xs-12
              h4 &Gcy;&Acy;&Lcy;&IEcy;&Rcy;&IEcy;&YAcy;
          |        
          #addphoto.row.addsmth
            .col-xs-1(style='background-color:#00ab6f;text-align:center;')
              h2(style='line height:5vh;color:white;margin:0px;')
                span.glyphicon.glyphicon-plus
            |          
            .col-xs-11
              h2  &Dcy;&Ocy;&Bcy;&Acy;&Vcy;&Icy;&Tcy;&SOFTcy; &Fcy;&Ocy;&Tcy;&Ocy;
          |  
          |        
          #addvideo.row.addsmth
            .col-xs-1(style='background-color:#00ab6f;text-align:center;')
              h2(style='line height:5vh;color:white;margin:0px;')
                span.glyphicon.glyphicon-plus
            |          
            .col-xs-11
              h2  &Dcy;&Ocy;&Bcy;&Acy;&Vcy;&Icy;&Tcy;&SOFTcy; &Vcy;&Icy;&Dcy;&IEcy;&Ocy;
        |       
        .col-xs-6.stats
          .row
            .col-xs-12
              .row
                h2(style='color:#c35') &Scy;&Tcy;&Acy;&Tcy;&Icy;&Scy;&Tcy;&Icy;&Kcy;&Acy;
                |            
                h2  &Fcy;&Ocy;&Tcy;&Ocy;&Gcy;&Rcy;&Acy;&Fcy;&Icy;&Jcy; : 10 
                |            
                h2  &Vcy;&Icy;&Dcy;&IEcy;&Ocy; : 20       
      #contactsblock.row.section
        .col-xs-12
          .row.title
            .col-xs-12
              h4 &Kcy;&Ocy;&Ncy;&Tcy;&Acy;&Kcy;&Tcy;&Ycy;      
      #aboutblock.row.section
        .col-xs-12
          .row.title
            .col-xs-12
              h4 &Ocy; &Pcy;&Rcy;&Ocy;&IEcy;&Kcy;&Tcy;&IEcy;
      script.
              $('#countries').click(function(){
                href='#countriesblock';
              }); 
              $('#books').click(function(){
                href='#booksblock';
              }); 
              $('#routes').click(function(){
                href='#routesblock';
              }); 
              $('#gall').click(function(){
                href='#gallblock';
              }); 
              $('#contacts').click(function(){
                href='#contactsblock';
              }); 
              $('#about').click(function(){
                href='#aboutblock';
              });         
    
