doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title ADMIN
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    |     
    style.
      html{
      min-width:768px;
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      h1 {
      font-family:attentica;
      font-size:5vw;
      color:#333;
      }
      h2 {
      line-height:8vh;
      color:black;
      font-family:roboto-thin;
      font-size:2vw;
      margin-top:1vh;
      margin-bottom:1vh;
      margin-right:1vw;
      margin-left:1vw;
      font-weight:bold;
      }
      h4 {
      color:#ddd;
      font-family:roboto-thin;
      text-transform:uppercase;
      font-size:3vw;
      }
      .container {
      margin:0px;
      padding:0px;
      width:100%;
      }
      .btn-default {
      background-color:white;
      }
      .btn:hover {
      background-color:white;
      opacity:0.5;
      }
      .btn-default:focus {
      background-color:white;
      }
      .btn-default:focus h2 {
      color:black;
      }
      .btn:hover h2 {
      color:black;
      }
      #menu {
      text-align:center;
      padding-top:5vh;
      padding-bottom:5vh;
      background-color:#eee;
      }
      #header {
      background-color:#eee;
      text-align:center;
      }
      .title {
      padding-left:2vw;
      background-color:#0b4556;
      border-bottom:1px solid #53a7bf;
      cursor:pointer;
      }
      .closedialog{
      cursor:pointer;
      }
      .closedialog:hover{
      background-color:#0b4556;
      }
      #addextraalbum{
      cursor:pointer;
      }
      #addextraalbum:hover{
      background-color:#0b4556;
      }
      #addextraalbum:hover h2{
      color:white;
      }
      .title:hover{
      background-color:#216d83;
      }
      a:hover {
      outline:none;
      text-decoration:none;
      }
      .addsmth{
      margin-bottom:1vh;
      }
      .stats {
      background-color:#eee;
      padding-left:3vw;
      padding-right:3vw;
      padding-top:3vh;
      padding-bottom:3vh;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      input {
      margin:1vh;
      border:1px solid #ddd;
      line-height:8vh;
      color:black;
      font-family:roboto-thin;
      font-size:2vw;
      font-weight:bold;
      }
      button {
      margin:1vh;
      }
      #addpost:hover{
      background-color:#ddd;
      }
      #removepost:hover{
      background-color:#ddd;
      }
      p{ 
      text-indent:1vw;
      }
      img{
      height:3vw;
      margin:2vh;
      }
      .col-xs-1 {
      padding-left:0px;
      }
      .col-xs-3 {
      padding-left:0px;
      }
      .hiddeninputs {
      display:none;
      margin:0px;
      padding:1vw;
      background-color:#eee;
      }
      .addsmth {
      cursor:pointer;
      }
      .addsmth:hover{
      background-color:#eee;
      }
      .hiddenoptions{
      margin:0px;
      padding:0px;
      display:none;
      background-color:#f7f7f7;
      }
      .nb{
      margin:0px;
      padding:0px;
      }
      .simplyhidden{
      display:none;
      }

  body
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/bootstrap/js/bootstrap.min.js')
    .container
      //
        #countriesblock.row.section
          .col-xs-6
            .row.title
              .col-xs-1
                img(src='/bootstrap/images/circle_bird_down_white.png')
              .col-xs-11
                h4 &Scy;&Tcy;&Rcy;&Acy;&Ncy;&Ycy;  
      .row
        .col-xs-3()
          .row(style='background-color:#333;padding:0px;text-align:center;')
            .col-xs-12(style='padding-right:0px;')
              h1(style='color:#eee;') Редактор
          #routesblock.row.section
            .col-xs-12
              .row.title
                .col-xs-12
                  h4 Маршруты
          #booksblock.row.section
             .col-xs-12
               .row.title
                 .col-xs-12
                   h4 Книги 
          #blogblock.row.section
            .col-xs-12
              .row.title
                .col-xs-12
                  h4 &Bcy;&Lcy;&Ocy;&Gcy;   
          #gallblock.row.section
            .col-xs-12
              .row.title
                .col-xs-12
                  h4 &Gcy;&Acy;&Lcy;&IEcy;&Rcy;&IEcy;&YAcy;    
          #contactsblock.row.section
            .col-xs-12
              .row.title
                .col-xs-12
                  h4 Контакты   
          #aboutblock.row.section
            .col-xs-12
              .row.title
                .col-xs-12
                  h4 О проекте                               
        .col-xs-9(style='padding:0px;')           
          #routesblockoptions.row.hiddenoptions
            .col-xs-6.nb         
              #addroute.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_cross.png')
                .col-xs-10(style='padding-left:0px;')
                  h2 Добавить маршрут        
              #removeroute.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_minus.png')      
                .col-xs-10(style='padding-left:0px;')
                  h2  Редактировать маршруты         
          #booksblockoptions.row.hiddenoptions
            .col-xs-6.nb          
              #addbook.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_cross.png')    
                .col-xs-10(style='padding-left:0px;')
                  h2  Добавить книгу
              #addbookinput.row

          #blogblockoptions.row.hiddenoptions(style='display:block;')
            .col-xs-6.nb          
              #addpost.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_cross.png')      
                .col-xs-10(style='padding-left:0px;')
                  h2  Добавить пост      
              #removepost.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_minus.png')     
                .col-xs-10(style='padding-left:0px;')
                  h2  Удалить все посты      
            .col-xs-6.stats
              .row
                .col-xs-12
                  .row
                    h2(style='color:#c35') Статистика
                    |            
                    h2  ЗАПИСЕЙ : #{postsn}
                    |            
                    h2(style='color:gray;')  Необходимо сделать статистику просмотров 
                     
          #addpostblock.row.hiddeninputs(style='background-color:#6faebf;') 
            form(action='/actions',id='mainform',role='form',method='post', enctype='multipart/form-data')
             .col-xs-12
               .row(style='display:none;')
                 .col-xs-12
                   input#hiddeninput(type='text',name='actions',value='newpost')
               .row 
                 .col-xs-6(style='padding:2vh;')
                   h2 Заглавное изображение:
               .row    
                 .col-xs-3
                   input#xml.form-control(type='file', name='headimage') 
               .row
                 .col-xs-3(style='padding:2vh;')
                   h2 Заголовок:    
               .row
                 .col-xs-8
                   textarea#gettitle.form-control
                   //
                     button#gettitlebutton(type='button') GET TITLE   
               .row(style='display:none;')
                 .col-xs-12
                   input#invisibleinput(name='postbody',type='text')
               .row(style='display:none;')
                 .col-xs-12
                   input#vtitle(name='vtitle',type='text')
               .row
                 .col-xs-6(style='padding:2vh;')
                   h2 Основной текст:
               .row
                 .col-xs-8
                   textarea#getbody.form-control(rows='7')
                   //
                     button#getbodybutton(type='button') GET BODY   
               .row
                 .col-xs-12(style='padding:2vh;')
                   button(type='button',id='sendbutton',style='border:1px solid white;border-radius:4px;') 
                     h5(style='color:white;') Отправить  
               .row(style='background-color:#82d1e3;')
                 #grab.col-xs-12      
          #dropdb.row(style='display:none;background-color:#ca2c28;padding-top:3vh;')
            form(action='/drop/posts',method='post',role='form')  
              .row
                .col-xs-1(style='text-align:right;')
                  img(src='/bootstrap/images/circle_excl_white.png')
                .col-xs-10
                  h2(style='color:white;') Удалить все посты ?
                #closedropposts.col-xs-1.closedialog
                  img(src='/bootstrap/images/cross_white.png') 
              .row
                .col-xs-10.col-xs-offset-1
                  h2 Пароль:
                  input(name='p',type='text') 
              .row
                .col-xs-11.col-xs-offset-1
                  button(type='submit',style='border:1px solid white;border-radius:4px;')
                    h5 Удалить
              script.
                $('#closedropposts').click(function(){
                  $('#dropdb').slideToggle();
                });  
              //
                .col-xs-3
                  input(name='p',type='text')
                .col-xs-3
                  button(style='border:1px solid white;border-radius:4px;background-color:#c35;',type='submit') 
                    h5(style='color:white;') Удалить
          #gallblockoptions.row.hiddenoptions
            .col-xs-6.nb          
              #addphoto.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_cross.png')
                .col-xs-10(style='padding-right:0px;')
                  h2  Добавить фото     
              #albums.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_cross.png')
                .col-xs-10(style='padding-right:0px;')
                  h2  Добавить альбом 
              #albumsremove.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_minus.png')
                .col-xs-10(style='padding-right:0px;')
                  h2  Удалить альбом             
              #addvideo.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_cross.png')         
                .col-xs-10(style='padding-right:0px;')
                  h2  Добавить видео
              #experiment.row
                .col-xs-12
                  h2 HOO HOO  
            script.
              $('#sendbutton').click(function(){
              gettitle();
              getbody();
              $('#mainform').submit();
              })
              $('#removepost').click(function(){
              $('#dropdb').slideToggle();
              window.location='#dropdb';
              });
              $('#addpost').click(function(){
              $('#addpostblock').slideToggle();
              window.location='#addpostblock';
              });
              $('#getbodybutton').click(getbody);
              function getbody (){
              alert('GETTING THAT BODY');
              var x=$('#hiddeninput').val();
              console.log("HIDDEN INPUT IS: "+x);
              var vbody = $('#getbody').val();
              vbody = vbody.replace(/\r|\n|\r\n/g, '<br>')
              console.log('we are in get body and body is:'+vbody);
              var dd= new Date();
              var vday = dd.getDate();
              var vmonth= dd.getMonth()+1;
              var vyear = dd.getUTCFullYear();
              var vdate = vday+'.'+vmonth+'.'+vyear;
              if(vbody)
              {if(!$('#invisibleinput').val())
              {
              $('#invisibleinput').val("<div class='row text'><div class='col-xs-12' style='padding:0px;'><h5>"+vdate+"</h5><p><h3>"+vbody+"</h3></p></div></div>");}
              else
              {
              var previoustext = $('#invisibleinput').val();
              var newtext = previoustext+"<div class='row text'><div class='col-xs-12' style='padding:0px;'><p><h3>"+vbody+"</h3></p></div></div>";
              $('#invisibleinput').val(newtext);
              console.log('NOT EMPTY , INSERTING: '+newtext);
              }
              $('#grab').append("<div class='row text'><div class='col-xs-12' style='padding:0px;'><p><h3>"+vbody+"</h3></p></div></div>");
              window.location='#grab';
              }
              else
              {}
              }
              $('#gettitlebutton').click(gettitle);
              function gettitle (){
              var vtitle = $('#gettitle').val();
              if (vtitle)
              {
              $('#vtitle').val(vtitle);
              $('#gettitlebutton').attr('disabled');
              $('#grab').append("<div class='row' id='title'><div class='col-xs-12' style='padding:0px;'><h1>"+vtitle+"</h1></div></div>");
              window.location='#grab';
              }
              else
              {}         
              }
              function getalbums(){
              request = new XMLHttpRequest();
              request.onreadystatechange = function () {
              var DONE = this.DONE || 4;
              if (this.readyState === DONE){
              var index;
              parsed = JSON.parse(request.responseText);
              console.log(parsed);
              if(parsed.trouble === 1)
              {
              console.log('TROUBLE === 1');
              switch (parsed.mtext){
              case('empty'):
              $('#albumsremoveblockinsert').append("<div class='row' ><div class='col-xs-1'><img src='/bootstrap/images/circle_excl.png'></div><div class='col-xs-11'><h2>Нет альбомов</h2></div></div>");
              break;
              case('db'):
              $('#albumsremoveblockinsert').append("<div class='row' ><div class='col-xs-1'><img src='/bootstrap/images/circle_excl.png'></div><div class='col-xs-11'><h2>Проблемы с базой данных</h2></div></div>");
              break;
              }}
              else {
              //trouble === 0
              for (yy=0;yy<parsed.results.length;yy++){
              $('#albumsremoveblockinsert').append("<div class='row' id='remconf"+parsed.results[yy].id+"'><div class='col-xs-9'><h2>"+parsed.results[yy].id+"</h2></div><div class='col-xs-3 closedialog'><img src='/bootstrap/images/cross_white.png'></div></div><div class='row' id='confblock"+parsed.results[yy].id+"' style='display:none;'><div class='col-xs-6' id='rem"+parsed.results[yy].id+"' style='background-color:#c35;'><h2 style='color:white;'>Удалить</h2></div><div class='col-xs-6' id='dsms"+parsed.results[yy].id+"'><h2>Отмена</h2></div></div><script>$('#remconf"+parsed.results[yy].id+"').click(function(){$('#confblock"+parsed.results[yy].id+"').slideToggle();});$('#rem"+parsed.results[yy].id+"').click(function(){removealbum("+parsed.results[yy].id+");});$('#dsms"+parsed.results[yy].id+"').click(function(){$('#confblock"+parsed.results[yy].id+"').slideToggle();});<\/script>");
              }
              }
              }
              };
              request.open('POST', '/misc', true);
              request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
              request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              //Most libraries like jQuery/Prototype/Dojo do this
              request.send("cause=albums");          }
              function removealbum(id){
              request = new XMLHttpRequest();
              request.onreadystatechange = function () {
              var DONE = this.DONE || 4;
              if (this.readyState === DONE){
              var index;
              parsed = JSON.parse(request.responseText);
              console.log(parsed);
              if(parsed.trouble === 1)
              {
              console.log('TROUBLE === 1');
              switch (parsed.mtext){
              case('empty'):
              alert('Заданый альбом не найден в базе');
              break;
              case('db'):
              alert('проблемы с базой данных');
              $('#remconf'+id).slideToggle();
              if($('#confblock'+id).css('display')!=='none'){
              $('#confblock'+id).slideToggle();
              }
              break;
              }}
              else {
              //trouble === 0
              $('#remconf'+id).slideToggle();
              if($('#confblock'+id).css('display')!=='none'){
              $('#confblock'+id).slideToggle();
              alert('Альбом удален')
              }
              }
              };
              request.open('POST', '/actions', true);
              request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
              request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              //Most libraries like jQuery/Prototype/Dojo do this
              request.send("actions=removealbum&albumid="+id);}
              $('#albums').click(function(){
              $('#albumsblock').slideToggle();
              });  
              $('#albumsremove').click(function(){
              getalbums();
              $('#albumsremoveblock').slideToggle();
              });         
            .col-xs-6.stats
              .row
                .col-xs-12
                  .row
                    h2(style='color:#c35') Статистика          
                    h2  Фотографий: #{imgn}             
                    h2  Альбомов : #{albumn} 
                    h2  Видео : #{videon}   
          script.
            $('.addalbum').click(function(){
            request = new XMLHttpRequest();
            request.onreadystatechange = function () {
            var DONE = this.DONE || 4;
            if (this.readyState === DONE){
            var index;
            parsed = JSON.parse(request.responseText);
            console.log(parsed);
            if(parsed.trouble === 1)
            {
            console.log('TROUBLE === 1');
            switch (parsed.mtext){
            case('empty'):
            $('#albumsblockinsert').append("<div class='row addalbum addsmth' id='secondaddalbum'><div class='col-xs-1'><img src='/bootstrap/images/circle_cross.png'></div><div class='col-xs-11'><h2>Добавить альбом</h2></div></div>");
            $('#albumsblock').slideToggle();
            console.log('was supposed to slidetoggle ALBUMSBLOCK');
            break;
            case('db'):
            $('#albumsblockinsert').append("<div class='row' ><div class='col-xs-1'><img src='/bootstrap/images/circle_excl.png'></div><div class='col-xs-11'><h2>Проблемы с базой данных</h2></div></div>");
            $('#albumsblock').slideToggle();
            console.log('was supposed to slidetoggle ALBUMSBLOCK');
            break;
            }}
            else {
            //trouble === 0
            for (var i in parsed.results) {
            $('#albumsblockinsert').append("<div class='row' style='border-bottom:1px solid #eee;'><div class='col-xs-12'>"+i+"</div></div>");
            $('#albumsblock').slideToggle();
            console.log('was supposed to slidetoggle ALBUMSBLOCK');
            }
            }
            }
            };
            request.open('POST', '/actions', true);
            request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            //Most libraries like jQuery/Prototype/Dojo do this
            request.send("actions=albums");          });
            $('#secondaddalbum').click(function(){

            $('#addphotoblock').slideToggle();
            });
            function addalbumfunction(){
            var addingconfrm;
            console.log('CREATING FIRST ALBUM');
            var valbumname = $('#albumnameinput').val();
            console.log('valbumname is: '+valbumname);
            if(!valbumname)
            {
             valbumname = $('#albumnameinputsecond').val();
             addingconfrm = 1;
             console.log('valbumname second try: '+valbumname);
            }
            if(!valbumname)
            {
             return
            }
            request = new XMLHttpRequest();
            request.onreadystatechange = function () {
            var DONE = this.DONE || 4;
            if (this.readyState === DONE){
            var index;
            parsed = JSON.parse(request.responseText);
            console.log(parsed);
            if(parsed.trouble === 1)
            {
            console.log('TROUBLE === 1');
            switch (parsed.mtext){
            case('empty'):
            alert('DB Error while adding album')
            break;
            case('db'):
            alert('DB Error')
            break;
            }}
            else {
            //trouble === 0
            alert('Альбом создан');
            if(addingconfrm === 1)
            {
            for (yy=0;yy<parsed.mbody.length;yy++){
            console.log('loop is running');
            $('#addphotoblockinsert').append("<div class='row'><div class='col-xs-3 col-xs-offset-1'><h2 style='color:white;'>"+parsed.mbody[yy].albumname+"</h2></div><div class='col-xs-4' style='text-align:center;'><h2>Добавить одно</h2></div><div class='col-xs-4' id='bulkalbum"+parsed.mbody[yy].id+"' style='text-align:center;'><h2>Добавить несколько</h2></div></div><div class='row' id='album"+parsed.mbody[yy].id+"' style='background-color:#6faebf;display:none;'><div class='col-xs-12'><form method='post' action='/actions' role='form' enctype='multipart/form-data'><div class='row'><div class='col-xs-10 col-xs-offset-1'><h2 style='color:white;'>Загрузка нескольких изображений</h2></div><div class='col-xs-1 closedialog' id='closealbum"+parsed.mbody[yy].id+"'><img src='/bootstrap/images/cross_white.png'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><h2>Страна:</h2><input name='country' type='text'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><h2>Файлы</h2><input type='file' multiple name='photo'></div></div><div class='row' style='display:none;'><div class='col-xs-11 col-xs-offset-1'><input type='text' name='aid' value='"+parsed.mbody[yy].id+"'><input type='text' name='actions' value='addphotobulk'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><button type='submit' style='border-radius:4px;'><h5>Загрузить</h5></button></div></div></form></div></div><script>$('#closealbum"+parsed.mbody[yy].id+"').click(function(){$('#album"+parsed.mbody[yy].id+"').slideToggle();});$('#bulkalbum"+parsed.mbody[yy].id+"').click(function(){$('#album"+parsed.mbody[yy].id+"').slideToggle();});<\/script>");
            }
            $('#albumnameinputsecond').val('');
            $('#addextraalbumblock').slideToggle();
            }
            }
            }
            };
            request.open('POST', '/actions', true);
            request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            //Most libraries like jQuery/Prototype/Dojo do this
            request.send("actions=addalbum&albumname="+valbumname);}
            $('#secondaddalbum').click(function(){
            $('#addphotoblock').slideToggle();
            });
          #addphotoblock.row.hiddeninputs(style='background-color:#6faebf;')
            #addphotoblockinsert.col-xs-12.simplyhidden
              .row
                .col-xs-10.col-xs-offset-1
                  h2(style='color:white;') Выберите альбом или создайте новый
                .col-xs-1
                  img(src='/bootstrap/images/cross_white.png')
              .row
                .col-xs-1
                  img(src='/bootstrap/images/circle_cross_white.png')   
                .col-xs-10
                  h2 Создать альбом 
          #albumsblock.row.hiddeninputs(style='background-color:#6faebf;')
            #albumsblockinsert.col-xs-12 
              .row
                .col-xs-11
                  h2(style='color:white;') Добавляем альбом
                #closeaddalbumblock.col-xs-1.closedialog
                  img(src='/bootstrap/images/cross_white.png') 
              .row
                .col-xs-11
                  h2 Название альбома:
                  input(id='albumnameinputsecond',type='text') 
              .row
                .col-xs-11
                  button(type='button',class='addalbumbutton',onclick='addalbumfunction();',style='border:1px solid white;border-radius:4px;')
                    h5 Создать
              script.
                $('#closeaddalbumblock').click(function(){
                  $('#albumsblock').slideToggle();
                });
          #albumsremoveblock.row.hiddeninputs(style='background-color:#6faebf;')
            #albumsremoveblockinsert.col-xs-12 
              .row
                .col-xs-11
                  h2(style='color:white;') Удалить альбом
                #closeremovealbumblock.col-xs-1.closedialog
                  img(src='/bootstrap/images/cross_white.png') 
              script.
                $('#closeremovealbumblock').click(function(){
                  $('#albumsremoveblock').slideToggle();
                });             
                  
          #addvideoblock.row.hiddeninputs
            #addvideoblockinsert.col-xs-12
          #contactsblockoptions.row.hiddenoptions
            .col-xs-6.nb          
              #editcontacts.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_text.png')         
                .col-xs-10(style='padding-right:0px;')
                  h2  Редактировать контакты    
          #aboutblockoptions.row.hiddenoptions
            .col-xs-6.nb          
              #editabout.row.addsmth
                .col-xs-2(style='text-align:center;')
                  img(src='/bootstrap/images/circle_text.png')         
                .col-xs-10(style='padding-right:0px;')
                  h2  Редактировать "О проекте"  
          #aboutblockset.row.hiddeninputs(style='background-color:#6faebf;')
            .col-xs-12
              form(role='form',method='post',action='/ations')
              .row
                .col-xs-11.col-xs-offset-1
                  textarea.form-control(rows='7',name='abody')
                  input(style='display:none;',name='actions',value='setabout')
              .row  
                .col-xs-12
                  button(style)

          script.
            $('#routesblock').click(function(){
              $('.hiddenoptions').css('display','none');
              $('.hidedeninputs').css('display','none');
              $('#routesblockoptions').slideToggle();
            }); 
            $('#contactsblock').click(function(){
              $('.hiddenoptions').css('display','none');
              $('.hiddeninputs').css('display','none');
              $('#contactsblockoptions').slideToggle();
            });  
            $('#aboutblock').click(function(){
              $('.hiddenoptions').css('display','none');
              $('.hiddeninputs').css('display','none');
              $('#aboutblockoptions').slideToggle();
            }); 
            $('#gallblock').click(function(){
              var x = $('#gallblockoptions').css('display');
              var y = $('#addphotoblock').css('display');
              var z = $('#addphotoblockinsert').css('display');
              if(x === 'block')
              {
               if(z !== 'none')
               {
                 $('#addphotoblockinsert').slideToggle();
               }
               if(y !== 'none')
               {
                 $('#addphotoblock').slideToggle();
               }
              }
              $('.hiddenoptions').css('display','none');
              $('.hiddeninputs').css('display','none');
              $('#gallblockoptions').slideToggle();
            }); 
            $('#booksblock').click(function(){
              $('.hiddenoptions').css('display','none');
              $('.hiddeninputs').css('display','none');
              $('#booksblockoptions').slideToggle();
            }); 
            $('#blogblock').click(function(){
              $('.hiddenoptions').css('display','none');
              $('.hiddeninputs').css('display','none');
              $('#blogblockoptions').slideToggle();
            }); 
            $('#addphoto').click(function(){
            request = new XMLHttpRequest();
            request.onreadystatechange = function () {
            var DONE = this.DONE || 4;
            if (this.readyState === DONE){
            var index;
            parsed = JSON.parse(request.responseText);
            console.log(parsed);
            if(parsed.trouble === 1)
            {
            console.log('TROUBLE === 1');
            if($('#addphotoblock').css('display')!='none'){
            console.log($('#addphotoblock').css('display'));
            $('#addphotoblock').slideToggle();
            }
            $('#addphotoblockinsert').empty();
            switch (parsed.mtext){
            case('empty'):
            console.log('should append some text');
            $('#addphotoblockinsert').append("<div class='row'><div  class='col-xs-1' style='text-align:right;'><img src='/bootstrap/images/circle_excl_white.png'></div><div class='col-xs-10'><h2 style='color:white;'>Чтобы начать добавлять фотографии, добавьте альбом</h2></div><div class='col-xs-1 closedialog' id='closedialog'><img src='/bootstrap/images/cross_white.png'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><h2>Название альбома:</h2><input id='albumnameinputsecond' type='text'></input></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><button type='button' class='addalbumbutton' onclick='addalbumfunction();' style='border:1px solid white;border-radius:4px;'><h5>Создать</h5></button></div></div>");
            var x ="<script>$('#closedialog').click(function(){console.log('closing something');$('#addphotoblockinsert').slideToggle();$('#addphotoblock').slideToggle();});<\/script>";
            $('#addphotoblockinsert').append(x);
            console.log(x);
            console.log('after insert main is: '+$('#addphotoblock').css('display')+', child is: '+$('#addphotoblockinsert').css('display'));
            $('#addphotoblock').slideToggle();
            $('#addphotoblockinsert').slideToggle();
            console.log('toggled both after inserts');
            break;
            }}
            else {
            //trouble === 0
            if($('#addphotoblock').css('display')!='none'){
            console.log($('#addphotoblock').css('display'));
            $('#addphotoblock').slideToggle();
            }
            $('#addphotoblockinsert').empty();
            $('#addphotoblockinsert').append("<div class='row'><div class='col-xs-10 col-xs-offset-1'><h2 style='color:white'>Выберите альбом или создайте новый</h2></div><div class='col-xs-1 closedialog' id='closephotoinserts'><img src='/bootstrap/images/cross_white.png'></div></div><div class='row' id='addextraalbum'><div class='col-xs-1' style='text-align:right;'><img src='/bootstrap/images/circle_cross.png'></div><div class='col-xs-10'><h2>Создать альбом</h2></div></div><div class='row' id='addextraalbumblock' style='margin-top:2vh;margin-bottom:2vh;display:none;'><div class='col-xs-10 col-xs-offset-1'><div class='row' style='padding-top:2vh;padding-bottom:2vh;background-color:#ddd;border-radius:4px;'><div class='col-xs-12'><div class='row'></div><div class='col-xs-11'><h2>Название альбома:</h2><input id='albumnameinputsecond' type='text'></div><div class='col-xs-1 closedialog' id='closeaddextraalbumblock'><img src='/bootstrap/images/cross.png'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><button type='button' class='addalbumbutton' onclick='addalbumfunction();' style='border:1px solid white;border-radius:4px;'><h5>Создать</h5></button></div></div></div></div></div></div><script>$('#closephotoinserts').click(function(){$('#addphotoblockinsert').slideToggle();$('#addphotoblock').slideToggle();});$('#addextraalbum').click(function(){$('#addextraalbumblock').slideToggle();});$('#closeaddextraalbumblock').click(function(){$('#addextraalbumblock').slideToggle();});<\/script>");
            console.log('entering the loop');
            for (yy=0;yy<parsed.results.length;yy++){
            console.log('loop is running');
            $('#addphotoblockinsert').append("<div class='row'><div class='col-xs-3 col-xs-offset-1'><h2 style='color:white;'>"+parsed.results[yy].albumname+"</h2></div><div class='col-xs-4' style='text-align:center;'><h2>Добавить одно</h2></div><div class='col-xs-4' id='bulkalbum"+parsed.results[yy].id+"' style='text-align:center;'><h2>Добавить несколько</h2></div></div><div class='row' id='album"+parsed.results[yy].id+"' style='background-color:#6faebf;display:none;'><div class='col-xs-12'><form method='post' action='/actions' role='form' enctype='multipart/form-data'><div class='row'><div class='col-xs-10 col-xs-offset-1'><h2 style='color:white;'>Загрузка нескольких изображений</h2></div><div class='col-xs-1 closedialog' id='closealbum"+parsed.results[yy].id+"'><img src='/bootstrap/images/cross_white.png'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><h2>Страна:</h2><input name='country' type='text'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><h2>Файлы</h2><input type='file' multiple name='photo'></div></div><div class='row' style='display:none;'><div class='col-xs-11 col-xs-offset-1'><input type='text' name='aid' value='"+parsed.results[yy].id+"'><input type='text' name='actions' value='addphotobulk'></div></div><div class='row'><div class='col-xs-11 col-xs-offset-1'><button type='submit' style='border-radius:4px;'><h5>Загрузить</h5></button></div></div></form></div></div><script>$('#closealbum"+parsed.results[yy].id+"').click(function(){$('#album"+parsed.results[yy].id+"').slideToggle();});$('#bulkalbum"+parsed.results[yy].id+"').click(function(){$('#album"+parsed.results[yy].id+"').slideToggle();});<\/script>");
            }
            $('#addphotoblock').slideToggle();
            $('#addphotoblockinsert').slideToggle();
            }
            }
            };
            request.open('POST', '/misc', true);
            request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            //Most libraries like jQuery/Prototype/Dojo do this
            request.send("cause=albums");});

      
        
