doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title ADMIN
    // Bootstrap
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    |     
    style.
      html{
      min-width:768px;
      }
      @font-face {
      font-family:br;
      src:url('/bootstrap/fonts/bebasneue_regular.ttf');
      }
      @font-face {
      font-family:attentica;
      src:url('/bootstrap/fonts/Attentica.ttf');
      }
      @font-face {
      font-family:roboto-thin;
      src:url('/bootstrap/fonts/Roboto-Thin.ttf');
      }
      h1 {
      font-family:attentica;
      font-size:20vw;
      color:#333;
      }
      h2 {
      color:black;
      font-family:roboto-thin;
      font-size:2vw;
      margin-top:1vh;
      margin-bottom:1vh;
      margin-right:1vw;
      margin-left:1vw;
      font-weight:bold;
      }
      h4 {
      font-weight:bold;
      font-family:br;
      font-size:4vw;
      margin-top:2vh;
      }
      .container {
      margin:0px;
      padding:0px;
      width:100%;
      }
      .btn-default {
      background-color:white;
      }
      .btn:hover {
      background-color:white;
      opacity:0.5;
      }
      .btn-default:focus {
      background-color:white;
      }
      .btn-default:focus h2 {
      color:black;
      }
      .btn:hover h2 {
      color:black;
      }
      #menu {
      text-align:center;
      padding-top:5vh;
      padding-bottom:5vh;
      background-color:#eee;
      }
      #header {
      background-color:#eee;
      text-align:center;
      }
      .title {
      padding-left:6vw;
      background-color:#f7f7f7;
      margin-bottom:2vh;
      }
      a:hover {
      outline:none;
      text-decoration:none;
      }
      .section {
      border-bottom:1px solid #eee;
      }
      .addsmth{
      padding-left:7vw;
      margin-bottom:1vh;
      }
      .stats {
      background-color:#eee;
      padding-left:3vw;
      padding-right:3vw;
      padding-top:3vh;
      padding-bottom:3vh;
      }
      h5 {
      font-size:1vw;
      font-family:arial;
      letter-spacing:0.3vw;
      text-transform:uppercase;
      color:black;
      }
      input {
      margin:1vh;
      border:1px solid #ddd;
      }
      button {
      margin:1vh;
      }
      #addpost:hover{
      background-color:#ddd;
      }
      #removepost:hover{
      background-color:#ddd;
      }
      p{ 
      text-indent:1vw;
      }
      img{
      height:3vw;
      margin:2vh;
      }
      .col-xs-1 {
      padding-left:0px;
      }
      .col-xs-3 {
      padding-left:0px;
      }
      .hiddeninputs {
      display:none;
      margin:0px;
      padding:1vw;
      background-color:#eee;
      }
      .addsmth {
      cursor:pointer;
      }
      .addsmth:hover{
      background-color:#eee;
      }
  body
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/bootstrap/js/bootstrap.min.js')
    .container
      #header.row
        h1 &Rcy;&IEcy;&Dcy;&Acy;&Kcy;&Tcy;&Ocy;&Rcy;
      
      #countriesblock.row.section
        .col-xs-12
          .row.title
            .col-xs-1
              img(src='/bootstrap/images/circle_bird_down.png')
            .col-xs-11
              h4 &Scy;&Tcy;&Rcy;&Acy;&Ncy;&Ycy;
      |      
      #routesblock.row.section
        .col-xs-6
          .row.title
            .col-xs-1
              img(src='/bootstrap/images/circle_bird_down.png')
            .col-xs-11
              h4 &Mcy;&Acy;&Rcy;&SHcy;&Rcy;&Ucy;&Tcy;&Ycy;
          |        
          #addroute.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_cross.png')
            .col-xs-9
              h2 Добавить маршрут
          |        
          #removeroute.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_minus.png')      
            .col-xs-9
              h2  Редактировать маршруты
      #booksblock.row.section
        .col-xs-6
          .row.title
            .col-xs-1
              img(src='/bootstrap/images/circle_bird_down.png')
            .col-xs-11
              h4 Книги
          |        
          #addbook.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_cross.png')    
            .col-xs-9
              h2  Добавить книгу
          #addbookinput.row

      #blogblock.row.section
        .col-xs-6
          .row.title
            .col-xs-1
              img(src='/bootstrap/images/circle_bird_down.png')
            .col-xs-11
              h4 &Bcy;&Lcy;&Ocy;&Gcy;
          |        
          #addpost.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_cross.png')      
            .col-xs-9
              h2  Добавить пост      
          #removepost.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_minus.png')     
            .col-xs-9
              h2  Удалить все посты
        |       
        .col-xs-6.stats
          .row
            .col-xs-12
              .row
                h2(style='color:#c35') &Scy;&Tcy;&Acy;&Tcy;&Icy;&Scy;&Tcy;&Icy;&Kcy;&Acy;
                |            
                h2  &Pcy;&Ocy;&Scy;&Tcy;&Ocy;&Vcy; : 10 
                |            
                h2  &Pcy;&Rcy;&Ocy;&Scy;&Mcy;&Ocy;&Scy;&Tcy;&Rcy;&Ocy;&Vcy; &Vcy;&Scy;&IEcy;&Gcy;&Ocy;: 12887 
                |            
                h2  &Pcy;&Rcy;&Ocy;&Scy;&Mcy;&Ocy;&Scy;&Tcy;&Rcy;&Ocy;&Vcy; &Pcy;&Ocy;&Scy;&Lcy;&IEcy;&Dcy;&Ncy;&IEcy;&Gcy;&Ocy; &Pcy;&Ocy;&Scy;&Tcy;&Acy;: 2000  
      #addpostblock.row.hiddeninputs 
        form(action='/actions',id='mainform',role='form',method='post', enctype='multipart/form-data')
         .col-xs-12
           .row(style='display:none;')
             .col-xs-12
               input#hiddeninput(type='text',name='actions',value='newpost')
           .row 
             .col-xs-6(style='padding:2vh;')
               h2 Заглавное изображение:
           .row    
             .col-xs-3
               input#xml.form-control(type='file', name='headimage') 
           .row
             .col-xs-3(style='padding:2vh;')
               h2 Заголовок:    
           .row
             .col-xs-8
               textarea#gettitle.form-control
               //
                 button#gettitlebutton(type='button') GET TITLE   
           .row(style='display:none;')
             .col-xs-12
               input#invisibleinput(name='postbody',type='text')
           .row(style='display:none;')
             .col-xs-12
               input#vtitle(name='vtitle',type='text')
           .row
             .col-xs-6(style='padding:2vh;')
               h2 Основной текст:
           .row
             .col-xs-8
               textarea#getbody.form-control(rows='7')
               //
                 button#getbodybutton(type='button') GET BODY   
           .row
             .col-xs-12(style='padding:2vh;')
               button(type='button',id='sendbutton',style='border:1px solid white;border-radius:4px;') 
                 h5(style='color:white;') Отправить  
           .row(style='background-color:#82d1e3;')
             #grab.col-xs-12      
      #dropdb.row(style='display:none;background-color:#eee;')
        form(action='/drop/posts',method='post',role='form')  
          .col-xs-3
            input(name='p',type='text')
          .col-xs-3
            button(style='border:1px solid white;border-radius:4px;background-color:#c35;',type='submit') 
              h5(style='color:white;') Удалить

        script.
          $('#sendbutton').click(function(){
          gettitle();
          getbody();
          $('#mainform').submit();
          })
          $('#removepost').click(function(){
          $('#dropdb').slideToggle();
          window.location='#dropdb';
          });
          $('#addpost').click(function(){
          $('#addpostblock').slideToggle();
          window.location='#addpostblock';
          });
          $('#getbodybutton').click(getbody);
          function getbody (){
          alert('GETTING THAT BODY');
          var x=$('#hiddeninput').val();
          console.log("HIDDEN INPUT IS: "+x);
          var vbody = $('#getbody').val();
          vbody = vbody.replace(/\r|\n|\r\n/g, '<br>')
          console.log('we are in get body and body is:'+vbody);
          var dd= new Date();
          var vday = dd.getDate();
          var vmonth= dd.getMonth()+1;
          var vyear = dd.getUTCFullYear();
          var vdate = vday+'.'+vmonth+'.'+vyear;
          if(vbody)
          {if(!$('#invisibleinput').val())
          {
          $('#invisibleinput').val("<div class='row text'><div class='col-xs-12' style='padding:0px;'><h5>"+vdate+"</h5><p><h3>"+vbody+"</h3></p></div></div>");}
          else
          {
          var previoustext = $('#invisibleinput').val();
          var newtext = previoustext+"<div class='row text'><div class='col-xs-12' style='padding:0px;'><p><h3>"+vbody+"</h3></p></div></div>";
          $('#invisibleinput').val(newtext);
          console.log('NOT EMPTY , INSERTING: '+newtext);
          }
          $('#grab').append("<div class='row text'><div class='col-xs-12' style='padding:0px;'><p><h3>"+vbody+"</h3></p></div></div>");
          window.location='#grab';
          }
          else
          {}
          }
          $('#gettitlebutton').click(gettitle);
          function gettitle (){
          var vtitle = $('#gettitle').val();
          if (vtitle)
          {
          $('#vtitle').val(vtitle);
          $('#gettitlebutton').attr('disabled');
          $('#grab').append("<div class='row' id='title'><div class='col-xs-12' style='padding:0px;'><h1>"+vtitle+"</h1></div></div>");
          window.location='#grab';
          }
          else
          {}         
          }
     
      #gallblock.row.section
        .col-xs-6
          .row.title
            .col-xs-1
              img(src='/bootstrap/images/circle_bird_down.png')
            .col-xs-11
              h4 &Gcy;&Acy;&Lcy;&IEcy;&Rcy;&IEcy;&YAcy;
          |        
          #addphoto.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_cross.png')
            .col-xs-9
              h2  Добавить фото     
          #albums.row.addsmth.addalbum
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_cross.png')
            .col-xs-9
              h2  Добавить альбом          
          #addvideo.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_cross.png')         
            .col-xs-9
              h2  Добавить видео
        |       
        .col-xs-6.stats
          .row
            .col-xs-12
              .row
                h2(style='color:#c35') Статистика;           
                h2  Фотографий: 10             
                h2  Альбомов : 20 
                h2  Видео : 20   
      script.
        $('#addphoto').click(function(){
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var index;
        parsed = JSON.parse(request.responseText);
        console.log(parsed);
        if(parsed.trouble === 1)
        {
        console.log('TROUBLE === 1');
        switch (parsed.mtext){
        case('empty'):
        console.log('should append some text');
        $('#addphotoblockinsert').append("<div class='row'><div class='col-xs-12'><h2>Чтобы начать добавлять фотографии, добавьте альбом</h2></div></div><div class='row addalbum addsmth'><div class='col-xs-1'><img src='/bootstrap/images/circle_cross.png'></div><div class='col-xs-11'><h2>Добавить альбом</h2></div></div>");
        $('#addphotoblock').slideToggle();
        break;
        }}
        else {
        //trouble === 0
        for (var i in parsed.results) {
        $('#addphotoblockinsert').append("<div class='row' style='border-bottom:1px solid #eee;'><div class='col-xs-12'>"+i+"</div></div>");
        window.location=href('#contactsblock');
        $('#addphotoblock').slideToggle();
        }
        }
        }
        };
        request.open('POST', '/misc', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //Most libraries like jQuery/Prototype/Dojo do this
        request.send("cause=albums");          });
        $('.addalbum').click(function(){
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var index;
        parsed = JSON.parse(request.responseText);
        console.log(parsed);
        if(parsed.trouble === 1)
        {
        console.log('TROUBLE === 1');
        switch (parsed.mtext){
        case('empty'):
        $('#albumsblockinsert').append("<div class='row addalbum addsmth' id='secondaddalbum'><div class='col-xs-1'><img src='/bootstrap/images/circle_cross.png'></div><div class='col-xs-11'><h2>Добавить альбом</h2></div></div>");
        window.location=href('#contactsblock');
        $('#albumsblock').slideToggle();
        break;
        case('db'):
        $('#albumsblockinsert').append("<div class='row' ><div class='col-xs-1'><img src='/bootstrap/images/circle_excl.png'></div><div class='col-xs-11'><h2>Проблемы с базой данных</h2></div></div>");
        window.location=href('#contactsblock');
        $('#albumsblock').slideToggle();
        break;
        }}
        else {
        //trouble === 0
        for (var i in parsed.results) {
        $('#albumsblockinsert').append("<div class='row' style='border-bottom:1px solid #eee;'><div class='col-xs-12'>"+i+"</div></div>");
        window.location=href('#contactsblock');
        $('#albumsblock').slideToggle();
        }
        }
        }
        };
        request.open('POST', '/actions', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //Most libraries like jQuery/Prototype/Dojo do this
        request.send("actions=albums");          });
        $('#secondaddalbum').click(function(){

        $('#addphotoblock').slideToggle();
        });
        $('.addalbumbutton').click(function(){
        var valbumname = $('#albumnameinput').val();
        if(!valbumname)
        {
         break;
        }
        request = new XMLHttpRequest();
        request.onreadystatechange = function () {
        var DONE = this.DONE || 4;
        if (this.readyState === DONE){
        var index;
        parsed = JSON.parse(request.responseText);
        console.log(parsed);
        if(parsed.trouble === 1)
        {
        console.log('TROUBLE === 1');
        switch (parsed.mtext){
        case('empty'):
        $('#albumsblockinsert').append("<div class='row addalbum addsmth' id='secondaddalbum'><div class='col-xs-1'><img src='/bootstrap/images/circle_cross.png'></div><div class='col-xs-11'><h2>Добавить альбом</h2></div></div>");
        window.location='#contactsblock';
        $('#albumsblock').slideToggle();
        break;
        case('db'):
        $('#albumsblockinsert').append("<div class='row' ><div class='col-xs-1'><img src='/bootstrap/images/circle_excl.png'></div><div class='col-xs-11'><h2>Проблемы с базой данных</h2></div></div>");
        window.location='#contactsblock';
        $('#albumsblock').slideToggle();
        break;
        }}
        else {
        //trouble === 0
        for (var i in parsed.results) {
        $('#albumsblockinsert').append("<div class='row' style='border-bottom:1px solid #eee;'><div class='col-xs-12'>"+i+"</div></div>");
        window.location='#contactsblock';
        $('#albumsblock').slideToggle();
        }
        }
        }
        };
        request.open('POST', '/actions', true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Tells server that this call is made fpurposes.
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //Most libraries like jQuery/Prototype/Dojo do this
        request.send("actions=addalbum&albumname="+valbumname);});
        $('#secondaddalbum').click(function(){
        $('#addphotoblock').slideToggle();
        });
      #addphotoblock.row.hiddeninputs
        #addphotoblockinsert.col-xs-12
      #albumsblock.row.hiddeninputs
        #albumsblockinsert.col-xs-12
          .row
             .col-xs-3(style='padding:2vh;')
               h2 Название:      
           .row(style='display:none;')
             .col-xs-12
               input#albumnameinput(type='text')
      #addvideoblock.row.hiddeninputs
        #addvideoblockinsert.col-xs-12
      #contactsblock.row.section
        .col-xs-6
          .row.title
            .col-xs-1
              img(src='/bootstrap/images/circle_bird_down.png')
            .col-xs-11
              h4 &Kcy;&Ocy;&Ncy;&Tcy;&Acy;&Kcy;&Tcy;&Ycy;  
          #editcontacts.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_text.png')         
            .col-xs-9
              h2  Редактировать контакты    
      #aboutblock.row.section
        .col-xs-6
          .row.title
            .col-xs-1
              img(src='/bootstrap/images/circle_bird_down.png')
            .col-xs-11
              h4 &Ocy; &Pcy;&Rcy;&Ocy;&IEcy;&Kcy;&Tcy;&IEcy;
          #editabout.row.addsmth
            .col-xs-3(style='text-align:center;')
              img(src='/bootstrap/images/circle_text.png')         
            .col-xs-9
              h2  Редактировать "О проекте"     
      
        
